@charset "utf-8";

/* CSS Document */
#paginainicio
{background:#3CF}







#titulo
{background:#930; color:#66C}
#texto
{color:#30C; background:#CF9; size:3% ; text-align:justify; width:95%; margin:1% }
#Imagen
{background:#C69; text-align:center; margin:1%}
